<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File Upload Example</title>
  <script src="/vendors/angular.min.js"></script>
  <script src="./vendors/angular-route.min.js" charset="utf-8"></script>
  <script src="/vendors/ng-file-upload-all.min.js"></script>
  <script src="/scripts/client.js"></script>
  <link rel="stylesheet" href="/vendors/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/master.css">
</head>
<body ng-app="myApp" class='imageAdd'>
  <h1>CollinGram</h1>
  <a href="/uploads">Add Photo</a>
  <a href="/allImages">All Photos</a>
  <a href="/userImages">My Images</a>
  <a href="/users">User Info</a>
  <a href="/update">Update Info</a>
<div ng-controller="inputController">
  <h2>Upload Your Image!!</h2>

  <form ng-submit="submit()">
    <h3>Upload a new image here:</h3>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" ng-model="upload.name" required/>
    <br/>
    <input class='file' type="file" name="file"  ng-model="upload.file" ngf-select ngf-max-size="25MB" required/>
    <br/>
    <input type="submit" value="Submit"/>
  </form>


</div>

</body>
</html>
