<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="/vendors/angular.min.js"></script>
    <script src="./vendors/angular-route.min.js" charset="utf-8"></script>
    <script src="/vendors/ng-file-upload-all.min.js"></script>
    <script src="/scripts/client.js"></script>
  </head>
  <body ng-app='myApp'>
    <a href="/uploads">Add Photo</a>
    <a href="/allImages">All Photos</a>
    <a href="/userImages">My Images</a>
    <a href="/users">User Info</a>
    <h1>All Images</h1>

  </body>
</html>
